.detalle {
    padding-top: 150px;
    padding-bottom: 50px;

    .mensaje {
        margin: 15px 0px;
        font-size: 0.8rem;
        line-height: 1rem;
        color: red;
        font-weight: 600;
    }

    .img-producto {
        max-width: 80%;
    }

    .back {
        color: black;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .datos-producto {
        margin-bottom: 50px;

        h3 {
            font-weight: 600;
        }

        h4 {
            font-weight: 600;
            color: var(--clr-violet);
        }

        .stock {
            border-radius: 10px;
            border: 1px solid;
            display: inline-block;
            padding: 5px 10px;
            margin-top: 15px;
        }
    }

    .comprar {
        display: flex;
    }

    .opciones {
        h6 {
            margin: 25px 0 10px 0px;
        }

        .envio, .locales {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            p {
                font-size: 0.8rem;
                margin-left: 5px;
            }

        }
    }


}

