.iconCart {
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid white;

    span {
        color: var(--clr-violet);
    }

    &:hover {
        color: var(--clr-violet);
    }

    &.hidden {
        visibility: hidden;
    }
}    
    
