@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import '../components/NavBar/NavBar.scss';
@import '../components/Footer/Footer.scss';
@import '../components/ItemListContainer/ItemListContainer.scss';
@import '../components/Item/Item.scss';
@import '../components/ItemList/ItemList.scss';
@import '../components/ItemDetail/ItemDetail.scss';
@import '../components/CartWidget/CartWidget.scss';
@import '../components/ItemCount/ItemCount.scss';
@import '../components/Cart/Cart.scss';
@import '../components/Header/Header.scss';
@import 'global.scss';
@import 'variables.scss';
@import 'buttons.scss';
@import 'reset.scss';