.navbar {
    background-color: var(--clr-violet);
    padding: 1rem 0;

    .navbar-nav {
        margin-right: 10px;
    }
    

    .navbar-brand {
        font-size: 1.8rem;
    }

    .nav-link {
        font-weight: 400;

       /* &.active {
            font-weight: 600;
   
        }

        &:hover {
            font-weight: 600;
        }*/
    }
}